<!-- Carousel of comments -->
<div class="container commentaries">
  <h2 class="title-container"> CAROUSEL STATIC WIDTH</h2>
  <lng-carousel (counterChange)="counter = $event">
    <lng-slide *ngFor="let slidez of slides; let i = index;"  class="lazyload">
      <div class="row im-gutters comments-container" *ngIf="counter === i">
        <div class="col-4 col-lg-2 comment-picture">
          <img [src]="slidez.photo"
               alt="avatar-image" title="avatar-image">
        </div>

        <div class="col-8 col-lg-4 comment-text">
          <h6 class="comment-title lato-regular" style="display: block; display: -webkit-box; -webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;">
            {{slidez.name}} <i class="lato-light">de</i> {{slidez.from}}</h6>
          <div class="comment-info lato-regular">
            {{slidez.comment}}
          </div>
        </div>

        <div class="col-4 col-lg-2 punctuation-container first-punctuation">
          <div class="circle_punctuation" style="border-color: #F0D57C;">{{slidez.amenity}}</div>
          <div class="punctuation lato-regular">Amabilidad</div>
        </div>
        <div class="col-4 col-lg-2 punctuation-container">
          <div class="circle_punctuation" style="border-color: #DEB94A;">{{slidez.agility}}</div>
          <div class="punctuation lato-regular">Agilidad</div>
        </div>
        <div class="col-4 col-lg-2 punctuation-container last-punctuation">
          <div class="circle_punctuation" style="border-color: #C58A17;">{{slidez.reliability}}</div>
          <div class="punctuation lato-regular">Confianza</div>
        </div>
      </div>
    </lng-slide>
  </lng-carousel>
</div>
<div class="container dynamic-pictures">
  <h2 class="title-container"> CAROUSEL DYNAMIC WIDTH</h2>
  <lng-carousel-dynamic [height]="'380px'">
    <lng-slide *ngFor="let image of images">
      <img class="slide-content" src="{{image}}" alt="">
    </lng-slide>
  </lng-carousel-dynamic>
</div>
